.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 415px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header span {
  margin: 0 16px 0 16px;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.content {
  position: absolute;
  left: 0;
  top: 64px;
  width: 415px;
  height: 656px;
}
.balanceBlock input {
  width: 411px;
  height: 73px;
  text-align: center;
  background-color: #ff8f8f;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #fff;
}
.balanceBlock input::placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}
.item {
  position: relative;
  width: 415px;
  height: 92px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.title {
  position: absolute;
  margin: 16px 0 0 16px;
}
.text {
  margin-top: 37px;
  width: 411px;
  height: 47px;
  text-indent: 16px;
  background-color: transparent;
  font-size: 18px;
  line-height: 21px;
  border: none;
  color: #fff;
}
.endBlock {
  position: absolute;
  top: 90px;
  width: 415px;
  height: 2px;
  background-color: #626262;
}
